{% extends 'layout.html' %}
{% load static %}
{% block body %}

 <!-- ======= Portfolio Section ======= -->
  <main id="main">
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Work
              </h3>
              <p class="subtitle-a">
                Work done as at the latest date
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
          {% for s in workss %}
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="/media/{{ s.Photo }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="/media/{{ s.Photo }}" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">{{ s.Name }}</h2>
                    <div class="w-more">
                      <span class="w-ctegory">{{ s.Type_of_Work }}</span> / <span class="w-date">{{ s.date }}</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="/portfolio"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}


        </div>
      </div>
    </section><!-- End Portfolio Section -->
  </main>
  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright"> <!--&copy;--> <strong></strong></p>
            <div class="credits">

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
{% endblock %}